.App-header {
  background-color: #4caf50;
  padding: 20px;
  color: white;
  border-bottom: 5px solid #388e3c;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

nav ul li a:hover {
  text-decoration: underline;
}

.home {
  text-align: center;
  margin-top: 20px;
}

.home h2 {
  font-size: 2.5rem;
  color: #4caf50;
}

.home p {
  font-size: 1.5rem;
}

.home ul {
  list-style: none;
  padding: 0;
}

.home ul li {
  margin: 10px 0;
}

.home ul li a {
  font-size: 1.5rem;
  color: #ff5722;
  text-decoration: none;
}

.home ul li a:hover {
  text-decoration: underline;
}

.games {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 20px;
}
